[Desktop Entry]
Exec=dwin-down
Name=switch to down window (kwin or emacs)
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
