[Desktop Entry]
Exec=dwin-up
Name=switch to up window (kwin or emacs)
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
X-License=GPL-3.0-or-later
# SPDX-License-Identifier: GPL-3.0-or-later